<style>
    span{
        display: block;
    }
</style>

<!-- todo 表单验证-->

<div class="callout">
    <h4>选择开始时间</h4>
    <span ng-if="time_determined[0].day==''" style="margin-bottom: 1rem">请点击右边的选择按钮</span>
    <div ng-if="time_determined[0].day!=''">
        <span>{{ time_determined[0].year }}年{{ time_determined[0].month }}月{{ time_determined[0].day }}日</span>
        <span class="font-number" style="font-size: 3rem">{{ time_determined[0].time | timeblock }}</span>
    </div>
    <button class="button button-main button button-small select_date" ng-click="select_date(0)">选择</button>
</div>


<div class="callout">
    <h4>选择结束时间</h4>
    <span ng-if="time_determined[1].day==''" style="margin-bottom: 1rem">请点击右边的选择按钮</span>
    <div ng-if="time_determined[1].day!=''">
        <span>{{ time_determined[1].year }}年{{ time_determined[1].month }}月{{ time_determined[1].day }}日</span>
        <span class="font-number" style="font-size: 3rem">{{ time_determined[1].time | timeblock }}</span>
    </div>
    <button class="button button-main button button-small select_date" ng-click="select_date(1)">选择</button>
</div>

<button class="button button-main button-pill" style="width: 80%;margin: 1rem 10%;" ng-click="commit_determine()">确定</button>

<script>
    $('.select_date').bootstrapMaterialDatePicker({ weekStart : 1, time: true }).bootstrapMaterialDatePicker('setDate', moment());
</script>
