<style>
    #header{
        display: none;
    }
</style>

<div style="text-align: center;margin-top: 2rem">
    <i class="fa fa-envelope-o" style="color:#FFFFFF;background:#16a085;height:11rem;width:11rem;border-radius: 1000rem;padding-top: 2.5rem;font-size: 6rem"></i>
    <div style="width: 100%;" class="row">
        <div align="left" class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

            <div style="margin-top: 3rem;">
                <p style="font-size: 1.5rem"><span id="ac.inviter" style="color:#1abc9c">{{ ac.publisher.name }}</span>邀请您参加：<br></p>
                <p  style="font-size:xx-large;margin-top:-0.5rem;font-weight: bolder;color: #16a085">{{ ac.title }}<br></p>
                <div style="margin-top: -0.6rem">
                    <span><i class="fa fa-user text-green fa-fw"></i>{{ ac.publisher.name }}<span ng-if="ac.organizer!=''" class="text-gray">&nbsp;@{{ ac.organizer }}</span></span><br>
                    <span ng-if="ac.place"><i class="fa fa-map-marker text-green fa-fw"></i>{{ ac.place }}</span>
                </div>
                <hr style="width:100%;margin-left:0;border:1px solid #16a085;"/>
            </div>



            <div>
                <img style="height: 3rem;width:3rem;margin-top:0;background:#16a085;border-radius: 1000rem; "; src="img/logo/logo_circle.svg" alt="timesum">
                <div style="display:inline-block;vertical-align: middle">
                    <img style="height: 1.5rem;" src="img/logo/timesum.svg"alt="timesum"><br>
                    <span >活动时间分析平台</span>
                </div>
            </div>



            <div ng-show="ac.opening">
                <div ng-if="already_login">
                    <p style="margin-top: 2rem;margin-bottom: 0.3rem">检测到您已经登录</p>
                    <p style="margin-bottom: 2rem;font-size: 1.7rem">
                        <i class="fa fa-star fa-fw"></i>{{ userinfo.name }}<br>
                        <i class="fa fa-phone fa-fw"></i>{{ userinfo.phone }}<br>
                    </p>
                    <button type="button" class="button button-pill button-main" style="width:100%;" ng-click="join()" ng-show="already_login">加入活动</button>
                </div>

                <div ng-show="!already_login">
                    <div style="margin-top: 2rem;padding-bottom:1.2rem;" align="left">
                        <label class="input-label" for="phone">电话</label>
                        <input style="padding-left:4em;" id="phone" class="form-control input-text" type="text" ng-model="phone" ng-change="phone_check()">
                    </div>

                    <div style="margin-bottom: 1.2em;" ng-show="phone_checked && !is_signed">
                        <label class="input-label" for="name">名字</label>
                        <input style="padding-left:4em;" id="name" class="form-control input-text" type="text" ng-model="name">
                    </div>

                    <div style="margin-bottom: 1.2em;" align="left" ng-show="phone_checked">
                        <label class="input-label" for="password">密码</label>
                        <input style="padding-left:4em;" id="password" class="form-control input-text" type="password" ng-model="password">
                    </div>

                    <div ng-show="phone_checked && !is_signed">
                        <div style="margin-bottom: 2em;width: 60%;display: inline-block;">
                            <label class="input-label" for="code">验证码</label>
                            <input style="padding-left:5em;" id="code" class="form-control input-text" type="text" ng-model="code">
                        </div>
                        <div style="width: 38%;float: right;">
                            <button onclick="get_code()" id="button_code" type="button" class="button button-border button-main button-pill" style="font-size: 0.8em;padding-left: 0.3em;padding-right: 0.3em;width: 100%;text-align: center;height: 3rem;">发送验证码</button>
                        </div>
                    </div>

                    <button type="button" class="button button-pill button-main" style="width:100%;" onclick="alert('请先输入手机号');" ng-show="!already_login && !phone_checked">加入活动</button>
                    <button type="button" class="button button-pill button-main" style="width:100%;" ng-click="login_join()" ng-show="!already_login && phone_checked && is_signed">登录并加入活动</button>
                    <button type="button" class="button button-pill button-main" style="width:100%;" ng-click="signup_join()" ng-show="!already_login && phone_checked && !is_signed">注册并加入活动</button>
                </div>

            </div>



            <div ng-if="!ac.opening" style="margin-top: 2rem">
                <p style="font-size: 2rem" class="text-center">抱歉，活动已关闭</p>
            </div>

        </div>
    </div>

</div>


<!--todo 判断是否已经加入过，自动跳转到detail-->
<script>
    //注意：以下两个函数在signup.html中也被使用了
    function count_down() {
        if (time_count==1) {
            $("#button_code").text('发送验证码').removeClass('time_counting').removeAttr('disabled');
        }else {
            time_count--;
            $("#button_code").text(time_count+'…');
            setTimeout('count_down()',1000);
        }
    }

    function get_code() {
        var phone=$("#phone").val();
//        先保证手机号已经输入
        if (phone == "") {
            alert("请先输入您的手机号");
            $("#phone").focus();
            return;
        }
//        手机号码的验证
        if (!(/^1[0-9]\d{9}$/.test(phone))) {
            alert("您输入的手机号码格式错误");
            return;
        }
        $.ajax({
            url: "api/short_message_code",
            type: "get",
            data: {
                phone: phone
            }
        }).done(function (data) {
            if (data == 'success') {
                //开始倒计时
                $("#button_code").addClass('time_counting').attr('disabled','');
                time_count=120;
                count_down();
            }else {
                alert(data);//直接弹出服务器传回的错误信息
            }
        }).fail(function () {
            alert("请求失败");
        });
    }
</script>