<style>
    .timetable span{
        color:#16a085;
        font-size:3rem;
    }
    .timetable div{
        background-color: #FFFFFF;
        margin-left: 0.3rem;margin-right: 0.3rem;
        vertical-align: middle;

    }
</style>

<div class="timetable">
    
    <div  style="vertical-align: middle; height:6rem;background-color: #FFFFFF;margin-top:0.6rem;">
            <span class="fa fa-bar-chart" style="margin-top:1.6rem;margin-left:1.8rem"></span>
            <span  style="padding-left: 1rem;color:#919191;font-size: 1.8rem; ;">时间表</span>
            <span class="fa fa-chevron-right" style="font-size: 1.4rem;margin-left: 0.5rem;"></span>
    </div>


    <div style="margin-top:1rem;">
        <span class="fa fa-thumbs-o-up" style="margin-left: 1.4rem;margin-top: 1rem;font-size: 1.8rem;"></span>
        <span style="font-size: 1.3rem;color: #919191;margin-left: 0.8rem">推荐时间</span>
    </div>


    <div  style="vertical-align: middle;border-bottom: 1px solid #DDDDDD">
        <div style="display:inline-block;width:65%">
            <p class="font-number text-green" style="font-size: 3rem;margin-top: 1rem;margin-left: 1.2rem;margin-bottom: 0">08:00-14:00</p>
            <p class="font-number" style="margin-left: 1.2rem;color: #333333">2016.05.28 <span style="font-size:1.3rem;margin-left: 1rem;color: #333333;">周日</span></p>
        </div>
        <div style="display: inline-block;border-left: 1px solid #919191;width:27%;text-align: right;">
            <span class="font-number" style="">08/11</span>
            <p style="margin-bottom:0.2rem">参与人数</p>
        </div>
        <div style="border-top:1px dashed #DDDDDD;margin-left: 1.5rem;margin-right: 1.5rem;padding-top: 0.4rem;margin-bottom: 0;;">
            <span class="fa fa-check-circle" style="color:#1abc9c;font-size: 1.5rem;"></span><p style="display:inline-block; margin-left: 1rem;font-size: 1.5rem;margin-bottom: 0;color:#1abc9c">6</p>
            <span class="fa fa-question-circle" style="margin-left: 1.2rem;color:#f39c12;font-size: 1.5rem;"></span><p style="display:inline-block; margin-left: 1rem;font-size: 1.5rem;margin-bottom: 0;color: #f39c12;">6</p>
            <span class="fa fa-times-circle" style="margin-left: 1.2rem;color:#919191;font-size: 1.5rem;"></span><p style="display:inline-block; margin-left: 1rem;font-size: 1.5rem;margin-bottom: 0;color: #919191;">6</p>
            <p style="font-size: 1.2rem;text-align: right;">人员名单<span class="fa fa-chevron-down" style=";display:inline-block;font-size:1.2rem;color: #919191;padding-left: 1rem;"></span></p>

        </div>
    </div>


    <div  style="vertical-align: middle;border-bottom: 1px solid #DDDDDD">
        <div style="display:inline-block;width:65%">
            <p class="font-number text-green" style="font-size: 3rem;margin-top: 1rem;margin-left: 1.2rem;margin-bottom: 0">08:00-14:00</p>
            <p class="font-number" style="margin-left: 1.2rem;color: #333333">2016.05.28 <span style="font-size:1.3rem;margin-left: 1rem;color: #333333;">周日</span></p>
        </div>

        <div style="display: inline-block;border-left: 1px solid #919191;width:27%;text-align: right;">
            <span class="font-number" style="">08/11</span>
            <p style="margin-bottom:0.2rem">参与人数</p>
        </div>
        <div style="border-top:1px dashed #DDDDDD;margin-left: 1.5rem;margin-right: 1.5rem;padding-top: 0.4rem;margin-bottom: 0;;">
            <span class="fa fa-check-circle" style="color:#1abc9c;font-size: 1.5rem;"></span><p style="display:inline-block; margin-left: 1rem;font-size: 1.5rem;margin-bottom: 0;color:#1abc9c">6</p>
            <span class="fa fa-question-circle" style="margin-left: 1.2rem;color:#f39c12;font-size: 1.5rem;"></span><p style="display:inline-block; margin-left: 1rem;font-size: 1.5rem;margin-bottom: 0;color: #f39c12;">6</p>
            <span class="fa fa-times-circle" style="margin-left: 1.2rem;color:#919191;font-size: 1.5rem;"></span><p style="display:inline-block; margin-left: 1rem;font-size: 1.5rem;margin-bottom: 0;color: #919191;">6</p>
            <p style="font-size: 1.2rem;text-align: right;">人员名单<span class="fa fa-chevron-down" style=";display:inline-block;font-size:1.2rem;color: #919191;padding-left: 1rem;"></span></p>
        </div>
    </div>


    <div  style="vertical-align: middle;border-bottom: 1px solid #DDDDDD">
        <div style="display:inline-block;width:65%">
            <p class="font-number text-green" style="font-size: 3rem;margin-top: 1rem;margin-left: 1.2rem;margin-bottom: 0">08:00-14:00</p>
            <p class="font-number" style="margin-left: 1.2rem;color: #333333">2016.05.28 <span style="font-size:1.3rem;margin-left: 1rem;color: #333333;">周日</span></p>
        </div>

        <div style="display: inline-block;border-left: 1px solid #919191;width:27%;text-align: right;">
            <span class="font-number" style="">08/11</span>
            <p style="margin-bottom:0.2rem">参与人数</p>
        </div>
        <div style="border-top:1px dashed #DDDDDD;margin-left: 1.5rem;margin-right: 1.5rem;padding-top: 0.4rem;margin-bottom: 0;;">
            <span class="fa fa-check-circle" style="color:#1abc9c;font-size: 1.5rem;"></span><p style="display:inline-block; margin-left: 1rem;font-size: 1.5rem;margin-bottom: 0;color:#1abc9c">6</p>
            <span class="fa fa-question-circle" style="margin-left: 1.2rem;color:#f39c12;font-size: 1.5rem;"></span><p style="display:inline-block; margin-left: 1rem;font-size: 1.5rem;margin-bottom: 0;color: #f39c12;">6</p>
            <span class="fa fa-times-circle" style="margin-left: 1.2rem;color:#919191;font-size: 1.5rem;"></span><p style="display:inline-block; margin-left: 1rem;font-size: 1.5rem;margin-bottom: 0;color: #919191;">6</p>
            <p style="font-size: 1.2rem;text-align: right;">人员名单<span class="fa fa-chevron-up" style=";display:inline-block;font-size:1.2rem;color: #919191;padding-left: 1rem;"></span></p>
            <div class="tag tag-green" style="margin-bottom: 2rem;padding-left:0;margin-left: 0">
                <label class="tag tag-green">郝主席</label><br>
                <label class="tag tag-orange">HGB</label><br>
                <label class="tag tag-gray">hahaha</label>
            </div>
        </div>
    </div>
</div>
