<style>
    .fa-check-circle{
        color:#1abc9c;
    }
    .fa-question-circle{
        color:#f39c12;
    }
</style>


<!--<div  style="vertical-align: middle; height:6rem;background-color: #FFFFFF;margin-top:0.6rem;" class="hover-pointer active-gray" ui-sref="ac_recommend({aid:aid})">-->
    <!--<span class="fa fa-thumbs-o-up" style="margin-top:1.6rem;margin-left:1.8rem;color:#16a085;font-size:3rem;"></span>-->
    <!--<span class="fa fa-chevron-left" style="font-size: 1.4rem;color:#16a085;padding-left: 1rem;"></span>-->
    <!--<span  style="color:#919191;font-size: 1.8rem;margin-left: 0.5rem;">时间推荐</span>-->
<!--</div>-->

<div ng-repeat="p in time_table" class="callout">
    <h4>{{ p.name }}</h4>
    <div ng-repeat="period in p.periods">
        <i class="fa fa-check-circle" ng-class="{'fa-check-circle':period.status==2,'fa-question-circle':period.status==1}" style="font-size: 1.5rem;"></i><p style="display:inline-block; margin-left: 1rem;font-size: 1.5rem;margin-bottom: 0;">{{ period.month }}月{{ period.day }}日&nbsp;{{ period.start | timeblock }}-{{ period.end | timeblock }}</p>
    </div>

</div>

<div ng-if="time_table.length==0" style="margin: 1rem 0;padding: 2rem 0;background: #ffffff;width: 100%;">
    <p class="text-center" style="font-size: 1.3rem"><i class="fa fa-sticky-note-o"></i> 还没有人输入过时间</p>
</div>