<style>
    .callout {
        padding: 20px;
        margin: 20px 0;
        border: 1px solid #eee;
        border-left-width: 5px;
        border-radius: 3px;
        background-color: #FFFFFF;
        border-left-color: #acacac;
    }
    .callout h4 {
        margin-top: 0;
        margin-bottom: 5px
        color: #626262;
    }
    .callout p:last-child {
        margin-bottom: 0
    }
    .callout code {
        border-radius: 3px
    }
    .callout + .callout {
        margin-top: -5px
    }
    .callout-danger {
        border-left-color: #ce4844
    }
    .callout-danger h4 {
        color: #ce4844
    }
    .callout-warning {
        border-left-color: #aa6708
    }
    .callout-warning h4 {
        color: #aa6708
    }
    .callout-info {
        border-left-color: #1b809e
    }
    .callout-info h4 {
        color: #1b809e
    }


    .fa-check-circle{
        color:#1abc9c;
    }
    .fa-question-circle{
        color:#f39c12;
    }
</style>

<div  style="vertical-align: middle; height:6rem;background-color: #FFFFFF;margin-top:0.6rem;" class="hover-pointer active-gray" ui-sref="ac_recommend({aid:aid})">
    <span class="fa fa-thumbs-o-up" style="margin-top:1.6rem;margin-left:1.8rem;color:#16a085;font-size:3rem;"></span>
    <span class="fa fa-chevron-left" style="font-size: 1.4rem;color:#16a085;padding-left: 1rem;"></span>
    <span  style="color:#919191;font-size: 1.8rem;margin-left: 0.5rem;">时间推荐</span>
</div>

<div ng-repeat="p in time_table" class="callout">
    <h4>{{ p.name }}</h4>
    <div ng-repeat="period in p.periods">
        <i class="fa fa-check-circle" ng-class="{'fa-check-circle':period.status==2,'fa-question-circle':period.status==1}" style="font-size: 1.5rem;"></i><p style="display:inline-block; margin-left: 1rem;font-size: 1.5rem;margin-bottom: 0;">{{ period.month }}月{{ period.day }}日&nbsp;{{ period.start | timeblock }}-{{ period.end | timeblock }}</p>
    </div>

</div>