<div style="margin-bottom: 1em;">
    <label class="input-label" for="password">旧密码</label>
    <input style="padding-left:4em;" id="password" class="form-control input-text" type="password">
</div>

<div class="row">
    <div class="col-xs-10 col-xs-offset-1" id="submit_div">
        <a href="signup.html" class="button button-pill button-main button-border" style="padding-left: 16px;padding-right: 16px;text-align: center;">注册</a>
        <button onclick="login()" id="submit_button" type="button" class="button button-pill button-main" style="display: inline-block;float: right;">登录</button>
    </div>
</div>