<div style="margin: 1em 0;">
    <label class="input-label" for="password_old">旧密码</label>
    <input style="padding-left:5em;" id="password_old" class="form-control input-text" type="password" ng-model="password_old">
    <br>
    <label class="input-label" for="password_new">新密码</label>
    <input style="padding-left:5em;" id="password_new" class="form-control input-text" type="password" ng-model="password_new">
    <br>
    <label class="input-label" for="password_confirm">确认密码</label>
    <input style="padding-left:6em;" id="password_confirm" class="form-control input-text" type="password" ng-model="password_confirm">
</div>

<button ng-click="CommitPwdChg()" type="button" class="button button-pill button-main button-block-level">修改密码</button>
