<style>
    .activity_published{
        background-image: url(img/main/Normal-Green.svg);
        background-color: #FFFFFF;
        background-repeat: no-repeat;
        height: 9em;
        width:100%;
        border:solid 1px #e1e1e1;
    }
    .activity_published .right{

    }
    .activity_published .left{

    }
    .activity_published .left i{
        font-size: 3em;
        color: #FFFFFF;
        margin-left: 1.6rem;
        margin-top: 1.6rem;
        display: block;
    }
    .activity_published .left label{
        font-weight: normal;
        color: #FFFFFF;
        margin-left: 1rem;
        font-size: 0.5rem;
    }
</style>


<div class="activity_published">
    <div class="left">
        <i class="fa fa-check-circle"></i>
        <label>时间已确定</label>
    </div>
    <div class="right">

    </div>
</div>