<style>
    .acinput input {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }

    .acinput input:focus {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }

    .acinput textarea {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }

    .acinput textarea:focus {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }

    .acinput {
        margin-bottom: 1.5rem;
    }

    .div_date {
        /*display: inline-block;*/
        width: 6rem;
        height: 6rem;
        margin-right:1.6rem;
        float: left;
        margin-bottom: 1rem;
    }
</style>

<div class="container">
    <div class="text-green">
        <table class="table">
            <tr>
                <td rowspan="2" style="width:7rem; vertical-align:middle; border:0">
                    <img src="img/logo/logo_circle.svg" width="100%">
                </td>
                <td style="padding-bottom:0; border:0">
                    <h2 style="margin-bottom: 0;margin-top: 1.5rem;font-weight: bold">活动信息</h2>
                </td>
            </tr>
            <tr>
                <td class="text-gray" style="padding-top:0; font-size:1.7rem; border:0">
                    Info
                </td>
            </tr>
        </table>

        <div class="acinput">
            <div class="form-group label-floating">
                <label class="control-label" for="title">主题</label>
                <input ng-model="activity.title" class="form-control" id="title" type="text" style="padding: 0;">
            </div>
            <div >
                <div style="width:47% ;display:inline-block;">
                    <div class="form-group label-floating">
                        <label class="control-label" for="organizer">主办方(选填)</label>
                        <input ng-model="activity.organizer" class="form-control" id="organizer" type="text" style="padding: 0;">
                    </div>
                </div>
                <div style="width:47% ;display:inline-block;float: right;">
                    <div class="form-group label-floating">
                        <label class="control-label" for="place">地点(选填)</label>
                        <input ng-model="activity.place" class="form-control" id="place" type="text" style="padding: 0;">
                    </div>
                </div>
            </div>
            <div>
                <label class="control-label" for="description">简介</label>
                <textarea ng-model="activity.description" class="form-control" rows="3" id="description" style="padding: 0;margin-bottom: 1rem"></textarea>
            </div>
            <div>
                <div class="form-group label-floating">
                    <label class="control-label" for="expected_number">预计人数</label>
                    <input ng-model="activity.expected_number" class="form-control" id="expected_number" type="number" style="padding: 0;">
                </div>
            </div>
            <div>
                <div class="form-group label-floating">
                    <label class="control-label">预计时长</label><br>
                    <button ng-click="change_duration(-1)" class="button button-square button-main button-small">-</button>
                    <span style="font-size: 1.8rem;color: #000;">&nbsp;{{ activity.duration | timeblock }}&nbsp;</span>
                    <button ng-click="change_duration(1)" class="button button-square button-main button-small">+</button>
                </div>
            </div>
        </div>

        <div style="margin-bottom:1rem;">
            <label class="control-label">活动时间</label>
            <div>
                <div ng-repeat="date in activity.date_range" class="div_date text-gray" align="left" style="border:2px solid #16a085;border-radius:0.8rem;background:url(img/new_ac/Timestamp-Corner.svg) right center no-repeat;padding-top: 1rem">
                    <div style="line-height:1.6rem;position: relative">
                        <p class="font-number" style=" margin-bottom: 0;padding-right:0; text-align: left;font-size: 2.6rem;margin-left: 0.4rem;">{{ date.month }}<span style="font-size: 1.1rem">月</span></p>
                        <p class="font-number" style="text-align: left;font-size: 1.7rem;margin-left: 0.4rem;margin-right: 0">{{ date.day }}<span style="font-size: 1.1rem">日</span></p>
                        <i ng-click="delete_date()" style="position:absolute;bottom:-1rem;right:0;  color:white;padding-right:0.3rem;padding-top:1rem;padding-left:1rem;padding-bottom: 0.5rem;" class="fa fa-minus"></i>
                    </div>
                </div>
            </div>


            <div id="add_date" class="div_date" align="center" style="border:2px dashed #16a085;border-radius: 0.8rem;">
                <i class="fa fa-plus text-green" style="margin-top:28%;font-size: 3rem;display: block;"></i>
            </div>


        </div>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <button ng-click="submit_ac()" type="button" class="button button-pill button-main button-block-level">提交</button>
            </div>
        </div>
    </div>
</div>



<script>
    $('#add_date').bootstrapMaterialDatePicker({ weekStart : 0, time: false }).bootstrapMaterialDatePicker('setDate', moment());
</script>