<div class="container">
    <div class="text-green">
        <table  class="table" >
            <tr>
                <td  rowspan="2" style="width:7rem; vertical-align:middle;">
                    <img src="img/logo/logo_circle.svg"width="100%">
                </td>
                <td style="padding-bottom:0; border:0">
                    <h2 style="margin-bottom: 0;margin-top: 1.5rem">活动信息</h2>
                </td>
            </tr >
            <tr >
                <td class="text-gray" style="padding-top:0; font-size:1.7rem; border:0">
                    Info
                </td>
            </tr>
        </table>
      <div class="row"style="margin-bottom:1rem;">
          <div class="col-md-3 col-sm-3 col-xs-3" style="margin-right: 0">
              <div align="center" style="border:0.2rem dashed #16a085;border-radius: 0.8rem; width:6rem;height:6rem">
                  <i class="fa fa-plus text-green"  style="margin-top:30%;font-size: 3rem"></i>
              </div>
          </div>
          <div class="col-xs-3 col-md-3 col-lg-3">
              <div class="text-gray">
                  <div align="left" style="border:0.2rem solid #16a085;border-radius:0.8rem; width: 6rem; height: 6rem; background:url(img/new_ac/Timestamp-Corner.svg) right center no-repeat;line-height:1.6rem;">
                      <div style="margin-top:1rem">
                          <p style="display:inline; margin-bottom: 0;text-align: left;font-size: 3rem;margin-left: 0.4rem;">05</p>
                          <p style="display:inline;margin-bottom: 0;text-align: left;font-size: 1.5rem">月</p>

                          <p style="display:inline;text-align: left;font-size: 1.7rem;margin-left: 0.4rem">29</p>
                          <p style="display:inline;text-align: left;font-size: 1.3rem">日</p>
                      </div>

                  </div>
              </div>
          </div>
      </div>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <button type="button" class="button button-pill button-main button-block-level">提交</button>
            </div>
        </div>
    </div>
</div>