<style>
    a:link{color: #FFFFFF}
    a:visited{color: #c1c1c1}
    a:active{color: #16a085}
</style>
<div style="text-align: center">
    <i class="fa fa-check-circle fa-4x" style="color:#16a085;margin-top: 4rem"></i>
    <div style="display: inline-block;" align="left">
        <span style="font-size: 1.6rem;color:#666666">创建成功<br></span>
        <span style="font-size: 1.1rem;color:#999999">感谢您使用timesum</span>
    </div>
    <div style="margin-top: 3rem;margin-bottom: auto">
        <p style="color:#999999;font-size: 1.6rem">邀请函二维码已生成</p>
        <img src="http://a.hiphotos.baidu.com/baike/c0%3Dbaike80%2C5%2C5%2C80%2C26/sign=fa9140accd95d143ce7bec711299e967/2934349b033b5bb571dc8c5133d3d539b600bc12.jpg" style="width:30%;height: 30%">
        <p></p>
    </div>
    <div style="width:10rem;height:3rem;border-radius:1rem;margin:auto;margin-top:3.5rem;padding:0.5rem;background: #1abc9c;font-size: large" >
        <a href="header.html">复制链接</a>
    </div>
</div>