<style>
    .container {
        background-color: #16a085 !important;
        height:100%;
    }

    #header{
        display: none;
    }

    .panel-done {
        border-radius: 13px;
        text-align: center;
        width:80%;
        margin: 30% 10% 0;
        padding:10%;
    }

    p{
        margin:0
    }
</style>

<div class="panel panel-default panel-done">
    <div class="panel-body">
        <i class="fa fa-check-circle" aria-hidden="true" style="font-size: 10rem;color:#16a085"></i>
        <p style="color:#666666;font-size: 4rem;">录入成功</p>
        <p style="color:#999999">您的空闲时间已成功录入</p>
        <p style="color:#999999">请等待组织者确定活动时间</p>

        <a ui-sref="ac_detail({aid:aid})" class="button button-pill button-main" style="margin: 30px 0 5px 0;">进入活动页面</a>

        <p style="color:#666666;font-size: 0.5rem">查看更多信息或发布留言</p>
    </div>
</div>