<style>



    .td_left{
        padding-right: 1rem;
    }
    /*.button-square{*/
        /*padding-left: 1rem!important;*/
        /*padding-right: 1rem!important;*/
    /*}*/
</style>


<div class="panel panel-default" style="margin-top: 1rem">
    <div class="panel-body">
        <table class="" style="font-size: 1.2rem;">
        <tbody>
        <tr>
            <td class="text-green td_left">UID</td>
            <td class="text-gray">{{userinfo.uid}}</td>
        </tr>
        <tr>
            <td class="text-green td_left">姓名</td>
            <td class="text-gray">{{userinfo.name}}<button style="margin-left: 1rem" class="button button-main button-small button-border" ng-click="NameChgVisibleToogle();">修改</button></td>
        </tr>
        <tr ng-show="NameChgDivVisible">
            <td></td>
            <td>
                <input class="form-control input-line" style="background: transparent;display: inline-block;width: 8rem;" ng-model="name_changed" placeholder="请输入" required/>
                <button ng-click="CommitNameChg();" style="display: inline-block;" class="button button-main button-small">确定</button>
            </td>
        </tr>
        <tr>
            <td class="text-green td_left">电话号码</td>
            <td class="text-gray">{{userinfo.phone}}</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>



<a ui-sref="changepwd"  class="button button-main button-pill" style="width: 47%;">修改密码</a>
<button ng-click="logout()" class="button button-pill button-caution" style="width: 47%;float: right;">退出登录</button>